body {
    background-color: #60b7da;
}

header {
    left: 0;
    top: 0;
    color: white;
    width: 100%;
    /* text-align: center; */
    position: fixed;
    background-color: #418a8e;
    z-index: 10;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;

    text-align: center;
}

li {
    list-style: none;
    font-size: 150%;
}

main {
    padding: 150px 0;
    text-align: center;
    margin: auto;
}

img {
    width: 95%;
}

#personalInfo img{
    width: 60%;
}

#works {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#fourthProject img {
    width: 88%;
}

footer figure img {
    display: block;
    width: 40%;

    margin: auto;
    border-radius: 80%;
}

footer figure ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

h5 {
    text-align: center;
}

#modal{
    position: fixed;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    background-color: aquamarine;
    z-index: 10;    
}

aside{
    text-align: center;
}

.show{
    display: none;  
}

p#extraInfo{
    text-align: center;
    font-size: 25px;
}

@media only screen and (max-width: 600px) {
    #works {
        display: grid;
        grid-template-columns: 1fr;
    }

    #personalInfo img{
        width: 95%;
    }
    
    footer figure img {
        width: 60%;
        border-radius: 80%;
    }
}

@media only screen and (min-width: 650px){
    #personalInfo figure {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2%;
        font-size: 20px;
    }
    #personalInfo img {
        width: 100%;
    }
}